* {
    box-sizing: border-box;
  }
  
  :root {
    --header-height: 70px;
    --header-large-height: 70px;
  }
  .header {
    background-color: #203333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: var(--header-height);
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    top: 0;
  }

  .logo {
    height: var(--header-height);
    cursor: pointer;
  }
  
  body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
  }
  
  h1, h2, h3, h4 {
    font-family: 'DM Serif Text', serif;
    font-weight: 600;
    margin: 30px 10px;
  }
  
  h3, h4 {
    font-weight: 400;
    margin: 15px 10px;
    font-size: 1.22rem;
  }

  p {
    line-height: 1.6;
    font-size: 1.1rem;
  }

  .homepage {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .homepage p, .homepage span {
    padding-left: 10px;
    padding-right: 10px;
  }
  .homepage span {
    display: block;
    padding-top: 5px;
  }  

  input::placeholder, textarea::placeholder {
    color: grey;
  }
  
  .login {
    background-color: #F0A078;
    color: white;
    padding: 5px 10px;
  }
  
  .hamburger-button {
    display: flex;
    flex-direction: column;
    background: transparent;
    z-index: 1100;
    width: 50px;
    height: 25px;
    padding: 0 20px 0 0px;
    justify-content: space-around;
    border: none;
    cursor: pointer;
  }
  .hamburger-line {
    width: 100%;
    height: 3px;
    background-color: #F0F0F0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .main-nav {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 0;
    background-color: #203333;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none; 
    display: none;
    
  }
  
  .main-nav.open {
    height: calc(100vh - var(--header-height));
    opacity: 1;
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-list {
    list-style: none;
    width: 100%;
    gap: 30px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nav-item {
    font-size: 22px;
    display: block;
    transition: color 0.3s ease;
    cursor: pointer;
  
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 22px;
    display: block;
    transition: color 0.3s ease;
  
  }
  
  .nav-link:hover, .nav-link:focus {
    color: #97BB47
  }
  
  .get-started {
    background-color: #C70039;
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
  }
  
  .get-started:hover {
    color: white;
  }

  .loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: aliceblue;
    margin: 20px auto;
    padding: 20px auto;
    border-radius: 25px;
    width: 90%;
  }
  
  .loginContainerChild {
    display: block;
    width: 90%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
  }
  
  
  .registerCommunity {
    display: block;
    width: max-content;
    font-size: 1rem;
    margin-left: 5%;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .registerCommunity a {
    text-decoration: none;
    font-weight: 400;
    color: #4F7942;
  }
  
  .registerCommunity a:hover {
    color: #4F7942;
    font-weight: 500;
  }
  
  .hero-image, .demo-image-mobile {
    max-width: calc(100vw - 30px);
    display: block;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px; 
  }
  
  .desktop-hero {
    display: none;
  }

  .section1, .section2, .section3 {
    margin-bottom: 30px;
  }
  
  .hero-section, .hero-section button, .hero-section span {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .hero-section h1 {
    padding-top: 40px;
  }
  
  .hero-section h1, .hero-section p, .hero-section span {
    text-align: center;
  }
  .hero-section button, .section3 button {
    display: block;
    border-radius: 5px;
    background-color: #C70239;
    border: none;
    padding: 10px 10px;
    margin-top: 20px;
  }
  
  .cta2 {
    color: #203333;
    font-weight: 300;
    margin-top: 7px;
  }
  
  .hero-section button:hover, .get-started:hover, .error-route-button:hover, .connect-button:hover {
    transform: scale(1.01);
  }
  
  .section1 h2, .section1 p, .section2 h2, .section3 h2 {
    text-align: center;
  }
  
  .feature-section {
    background-color: #2D483B;
    color: white;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: calc(100vw - 30px);
    margin-left: auto;
    margin-right: auto;
  }
  
  .feature-section h3, .feature-section p, .section3 span  {
    text-align: center;
  }
  
  .feature-section img {
    display: block;
    width: 100px;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .demo-image {
    display: none;
  }
  
  
  .section3 {
    background-color: #FFF5EE;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
  }
  
  .section3 button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
    
  /* HERE - Updated as of 17 June. select only
  */
  .loginContainerChild input, .loginContainerChild textarea, .newPostDateButtons input, select {
    padding: 10px 10px;
    color: black;
  }
  
  select, .security-question {
    background-color: white;
    color: grey;
    padding: 10px; /*Tried*/
    border-color: grey;
    border-radius: 0%;
  }

  select:valid {
    color: black;
  }
  
  
  .localCommHeader {
    margin-top: 5px;
  }
  
  .loginHeader {
    text-align: center;
    margin-top: 30px;
  }
  
  .forSignUp {
    text-align: center;
  }
  
  .required {
    color: red;
  }
  
  .password {
    display: flex;
    position: relative;
  }
  
  .eye {
    position: absolute;
    right: 5px;
    max-width: 8%;
    align-self: center;
    top: 24%;
  }
  
  .passwordLabel {
    margin-top: 5px;
    margin-bottom: -5px; /*May additional 5px from somewhere */
  }
  
  .passwordField {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .loginButton {
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    
  }
  
  .loginButton:hover {
    background-color: #355E3B;
  }
  
  .button {
    padding: 10px;
  }
  
  .textLink {
    cursor: pointer;
    font-weight: 500;
    color: #4F7942;
    text-decoration: underline;
  }
  
  .textLink:hover {
    color: #8A9A5B;
  }
  
  .ageNote {
    text-align: center;
    margin-top: -15px;
    font-weight: 200;
  }
  
  .loginHomepage {
    background-color: #332920;
    color: white;
    position: relative;
    cursor: pointer;
  }
  
  .categoryNav {
    display: flex;
    align-items: center;
    margin-top: 5px;
     
  }
  
  .categoryNav select {
    height: 20%;
    border-color: #808000;
    border-radius: 3px;
    font-weight: 300;
    font-size: 0.95rem;
  }
  
  .categoryNav h3, .categoryNav select {
    margin: 0px 10px;
    
  }
  
  .newPostButton {
    background-color: #355E3B;
    color: white;
    border: none;
    margin: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .postCard {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    padding: 1px 20px;
    background-color: #F8F8F8;  
    border-radius: 10px;
    cursor: pointer;
    max-width: 700px;
  }
  
  .postCardContent {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  
  .postCard > a, .postCard > a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  .postCard h3 {
    color: #023020;
  }
  
  .status {
    color: #454B1B;
    font-weight: 300;
    font-size: 0.95rem;
    
  }
  
  .status img {
    height: 13px;
    align-self: top;
    
  }
  
  .tagContainer {
    display: flex;
    gap: 10px;
    
  }
  
  .tags {
    background-color: #E8E8E8;
    color: #505050;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    
  }
  
  .tags:hover {
    background-color: #FFF8DC;
  }
  
  .profileNav {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  
  .profileNav a, .profileNav a:visited {
    cursor: pointer;
    color: #454B1B;
    text-align: center;
    text-decoration: none;
  }
  
  .profileNav h3 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  
  .profileNav a:hover {
    color: #5F8575;
  }
  
  .profileDivider {
    max-width: 670px;
    height: 2px;
    background-color: #454B1B;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .postCardContent .title {
    font-weight: 500;
  }
  
  
  .fieldEdit button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .settings {
    cursor: auto;
    background-color: #F8F8F8;
    margin: 10px 10px;
    padding: 1px 20px;
    border-radius: 10px;
    max-width: 800px;
    
  }
  
  .settingsFieldLabel {
    font-weight: 500;
    margin-left: 10px;
  }
  
  .settingsUpdateName button, .settingsUpdatePasswordDiv button {
    margin-left: 1px;
    border: 1px solid transparent;
    padding: 2px 7px;
    border-radius: 5px;
    font-weight: 300;
    cursor: pointer;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .settingsUpdateName .saveButton, .settingsUpdatePasswordDiv .updateButton, .saveName {
    background-color: black;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .settingsUpdateName input {
    margin-left: 2px;
  }
  
  .settingsNameSaveCancelButtonDiv, .settingsSaveNameButtonDiv {
    margin-top: 5px;
    margin-left: 10px;
  }
  
  .settingsUpdatePasswordDiv, .deletePostDiv {
    display: flex;
    flex-direction: column;
    background-color: #FFF5EE;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .saveName {
    margin-left: 1px;
  }
  
  .settingsUpdatePasswordDiv .updateButton {
    padding: 7px;
  }
  
  .settingsUpdatePasswordDiv p, .settingsUpdatePasswordDiv span {
    padding: 10px 10px;
  }
  
  .settingsEnterNewPassword {
    display: block;
    margin-top: -10px;
    
  }
  
  .settingsUpdatePasswordDiv button {
    display: flex;
    margin: 5px auto;
    
  }
  
  .deleteAccount {
    margin-top: 15px;
    margin-bottom: 15px; 
  }
  
  .settingsUpdatePasswordDiv {
    padding: 2px 10px;
  }
  
  .settingsUpdatePasswordDiv input {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .settingsUpdatePasswordDiv h3, .settingsUpdatePasswordDiv p, .settingsUpdatePasswordDiv span {
    text-align: center;
    margin-bottom: 5px;
  }
  
  .deleteAccount span {
    cursor: pointer;
  }
  .deleteAccount span:hover, .updatePassword:hover {
    color: #97BB47;
  }
  
  .settingsDeleteDiv {
    display: flex;
    flex-direction: column;
    width: 170px;
    align-items: center;
    justify-items: center;
  }
  
  .settingsDeleteDiv button {
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .settingsUpdatePasswordDiv .deleteInputUsername {
    display: block;
    margin-top: 3px;
  }
  
  .updatePassword {
    cursor: pointer;  
  }
  
  .postPage, .commentDiv, .newPostPage, .profileNav, .isFoundDiv {
    max-width: 700px;
    position: relative;
  }
  
  .postTitle {
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
    margin-bottom: -20px;
    margin-top: -15px;
  }
  
  .favoriteIcon {
    width: 30px;
    margin-top: 30px;
    cursor: pointer;
    
  }
  
  .postPage p {
    margin: 10px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .authorAndDate {
    font-weight: 300;
    color: #203333;
  }
  .postButtons {
    margin: 10px 10px;
  }
  
  .postButtons button, .newPostDateButtons button {
    margin-right: 10px;
    background-color: #F8F8F8;
    padding: 5px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .postButtons button:hover {
    background-color: black;
    color: white;
  }
  
  .returnHomeButton {
    margin-bottom: 10px;
    width: 30%;
  }
  
  .postEditor {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    max-width: 600px;
  }
  
  .postEditor textarea, .commentDiv textarea, .newPostPage textarea {
    height: 150px;
    border-color: #E5E4E2;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 300;
  }
  
  .postEditor button {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 40%;  
    margin-right: 10px;
  }
  
  .postEditor .cancelEdit, .secondaryButton {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-weight: 300;
    cursor: pointer;
  }
  
  .secondaryButton:hover {
    cursor: pointer;
    color: #808000;
    font-weight: 500;
  }
  
  .deletePostDiv {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  
  .deletePostButtons button, .commentDiv button {
    width: 80px;
  }
  
  .commentDiv, .newPostPage {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
  }
  
  .commentDiv textarea, .editCommentDiv textarea {
    height: 50px;
  }
  
  .commentDiv button {
    width: 150px;
  }
  
  .eachCommentDiv {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #F8F8F8;
    padding: 10px 10px;
    border-radius: 5px;
    
  }
  
  .editDeleteCommentButtons div {
    display: inline;
    margin-right: 10px;
    background-color: transparent;
    border: 0;
    width: 50px;
    color: #808000;
    cursor: pointer;
    
  }
  
  .commentContent {
    display: block;
    padding-bottom: 5px;
  }
  
  .eachCommentDiv span {
    font-weight: 300;
    
  }
  
  .editCommentDiv textarea {
    width: 100%;
  }
  
  .commenterAndDate {
    font-weight: 200;
    width: 100%;
    display: inline;
    font-size: 0.9rem;
    
  }
  
  .commentErrorDiv {
    background-color: maroon;
    color: white;
    border-radius: 5px;
    width: max-content;
    margin-top: 10px;
    margin-bottom: 10px;
  
  }
  
  .deleteCommentError {
    margin-right: auto;
    margin-left: auto;
  }
  
  .deleteCommentError p {
    text-align: center;
  }
  
  .newPostPage input, .newPostPage textarea {
    display: block;
    /*border-color: #E5E4E2;*/
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: 300;
    width: 100%;
    border: 1px solid grey;
  }
  
  .newPostPage button {
    display: block;
  }
  
  .newPostDateButtons button {
    margin: 10px 10px;
    font-weight: 300;
  }
  
  .newPostDateButtons button:hover {
    background-color: #FFF8DC;
  }
  
  .newPostDateButtons input {
    display: block;
    width: max-content;
    margin-left: 10px;
  }
  
  .postButton {
    width: 100%;
    align-self: center;
    justify-self: center;
  }
  
  .newPostSubCategories {
    display: block;
  }
  
  .newPostSubCategories h3 {
    padding-bottom: 10px;
  }
  
  .newPostSubCategories select {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .errorStyle, .confirmStyle {
    margin: 10px 10px;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 500;
    max-width: max-content;
  }
  
  .errorStyle {
    background-color: maroon;
  }
  
  .confirmStyle {
    background-color: #008000;
    
  }
  
  .communityDiv {
    cursor: default;
  }
  
  .sidebar-left, .sidebar-right {
    display: none;
  }
  
  .noSidebar {
    display: none;
  }
  
  .select {
    width: max-content;
    color: grey;
  }
  
  .greetings {
    background-color: #FFF8DC;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 10px;
    max-width: 700px;
  }
  
  .isFoundDiv {
    background-color: #FFF8DC;
    width: max-content;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .isFoundDiv p {
    font-weight: 300;
    color: #454B1B;
    font-size: 0.9rem;
  }

  footer {
    background-color: #203333;
    height: fit-content;
    margin-top: 30px;
    width: 100%;   
    padding-bottom: 20px; 
  }

  .footer-content {
    display: flex;
    align-items: flex-start;
  }

  .footer-content img {
    height: 100px;   
    margin-top: 20px;
    cursor: pointer;
  }

  .footer-content h3, .footer-content p {
    color: white;
  }

  .footer-content p {
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .error-route-button {
    color: white;
    background-color: black;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    padding: 10px 10px;
  }

  .error-route-button:hover {
    color: white;
    background-color: green;
  }

  /*HERE FOOTER trialssss*/

  
  html, body, #root { 
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }

   /*
  .page-container {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
    
  }

  .container {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
  }

  */
  /*
  header, .footer-div {
    flex-shrink: 0;
  
  }
    */

  #about {
    scroll-margin-top: calc(var(--header-height) + 10px);
  }



  /* Media Queries for responsiveness */
  
  /* for desktop and larger screens */
/*
  @media (min-width: 642px) {
    .container {
      padding-bottom: 200px;
    }
  }
*/
  @media (min-width: 992px) {
  
    .container {
      max-width: 1200px;
      width: calc(100vw - 20px);
      margin: 0 auto;
      
    }
  
    body {
      font-weight: 300;
    }

    h1, h2, h3, h4 {
      letter-spacing: 0.025em;
    }

    h3, h4 {
      font-size: 1.2rem;
    }
  
    p {
      line-height: 1.6;
      font-size: 1rem;
    }
    
    .noSidebar {
      display: none;
    }
  
    .hamburger-button {
      display: none;
    }
    .hamburger-line {
      display: none;
    }
  
    .main-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      position: static;
      height: auto;
      width: auto;
      background-color: transparent;
      overflow: visible;
      opacity: 1;
      pointer-events: auto;
      
    }
  
    .main-nav.open {
      height: auto;
    }
  
  
    .nav-list {
      display: flex;
      flex-direction: row;
      gap: 30px;
      margin-right: 20px;
  
    }
    
    .nav-item {
      font-size: 18px;
      padding: 12px;
      margin: 0;
      
    
    }
  
    .header {
      height: var(--header-large-height);
    }
  
    .logo {
      height: var(--header-large-height);
    }

    .hero-section {
      display: flex;
    }
  
    .hero-section h1 {
      padding-top: 80px;
    }
  
    .hero-section h1, .hero-section p, .hero-section span {
      text-align: left;
    }
  
  
    .hero-section button {
      margin-left: 0;
    }
  
    .hero-image {
      max-width: 600px;
      width: calc(50vw - 20px);
      margin-right: 10px;
    }
  
    .desktop-hero {
      display: block;
    }
  
    .mobile-hero {
      display: none;
    }

    .feature-section {
      width: calc(50vw - 10px);
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      
    }
  
    .features-group {
      display: flex;
      gap: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .feature-section img {
      width: 15%;
    }
  
    .events-img {
      max-width: 90px;
    }
  
    .demo-image {
      display: block;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .demo-image-mobile {
      display: none;
    }
  
    .loginContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      background-color: aliceblue;
      margin: 20px auto;
      padding: 20px auto;
      border-radius: 25px;
      max-width: 50%;
    }
    
    .loginContainerChild {
      display: block;
      margin-left: auto;
      margin-right: auto; 
    }

    .loginContainerChild input, .loginContainerChild textarea, .newPostDateButtons input, select {
      padding: 5px 2px;
      color: black;
    }

    .loginHomepage {
      left: 10px;
    }

    select, .security-question {
      background-color: white;
      color: grey;
      border-color: grey;
      border-radius: 0%;
    }
  
    .eye {
      position: absolute;
      right: 7px;
      top: 10%;
      max-width: 8%;
      align-self: center;
      color: red;
    
    }
  
    .passwordLabel {
      margin-bottom: 5px;
    }
  
    .main {
      display: block;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      
    }
    
    .sidebar-right {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      width: calc(((100vw - 700px)/2) - 20px);
      height: 100vh;
      color: white;
      padding: 1rem;
      overflow-y: auto;
    }

    .footer-content {
     max-width: 1200px; 
     margin: 10px auto;
    }


  
  }